/*#app {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  font-weight: normal;*/
/*}*/

/*a,*/
/*.green {*/
/*  text-decoration: none;*/
/*  color: hsla(160, 100%, 37%, 1);*/
/*  transition: 0.4s;*/
/*  padding: 3px;*/
/*}*/

/*@media (hover: hover) {*/
/*  a:hover {*/
/*    background-color: hsla(160, 100%, 37%, 0.2);*/
/*  }*/
/*}*/

/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/

/*  #app {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 0 2rem;*/
/*  }*/
/*}*/

/*#app {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*}*/

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main_title{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    color: #fff;
}

* {
    box-sizing: border-box;
    font-family: "PxPlus IBM VGA8", serif;
}

#main{
    display: grid;
    width: 1100px;
    height: 953px;
    background-color: #061072;
    color: #fff;
}

.menu_bar{
    display: flex;
    align-items: center;
    background-color: #888;
    width: 100%;
    height: 28px;
    padding: 5px;
}

.menu_item {
    color: #061072;
    margin-right: 8px;
    margin-left: -4px;
    background-color: #c1bbbb;
    border:6px solid rgba(255, 255, 255, 0.63);
    border-right-color: #434242;
    border-right-width: 7px;
    border-bottom-color: #7c7777;
    border-bottom-width: 4px;
    padding: 1px 4px;
    cursor: pointer;
}

.menu_item:hover {
    background-color: #ffffff;

}

.menu_item:active {
    border: 2px solid #404040;
    border-right-color: #fff;
    box-shadow: inset 1px 1px #808080, inset -1px -1px #ffffff;
    transform: translateY(2px);
    transition: 0.1s;
    cursor: default;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

#bg_gif{
    position: fixed;
    inset: 0;
    background: url("/gif/Outer_Space.gif") center / cover no-repeat;
    filter: brightness(0.4);
    z-index: -2;
}

.retro_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.retro_btn {
    font-size: 70px;
    color: black;
    background-color: #c0c0c0;
    border: 15px solid #fff;
    border-right-color: #404040;
    border-bottom-color: #404040;
    padding: 30px 100px;
    box-shadow: inset -5px -5px #808080, inset 5px 5px #ffffff;
    cursor: pointer;
    transition: 0.1s;
}
.retro_btn:hover {
    box-shadow: 0px 0px 200px rgba(159, 154, 154, 0.47);
}

.retro_btn:active {
    border: 10px solid #404040;
    border-right-color: #fff;
    border-bottom-color: #fff;
    box-shadow: inset 5px 5px #808080, inset -5px -5px #ffffff;
    transform: translateY(10px);
    transition: 0.1s;
    cursor: default;
}

.title{
    text-align: center;
}

#bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("public/sprite/bg.png");
    background-blend-mode: multiply;
    pointer-events: none;
}


























